bin/
obj/
node_modules/

report/

Migrations/

.env
.project
.settings
.toolstarget
.vs
.vscode/
.idea/

!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

!.idea/.idea.NokoWebApi

*.*proj.user
*.dbmdl
*.jfm

azds.yaml

npm-debug.log
secrets.dev.yaml
values.dev.yaml

*-lock.json
pnpm-lock.yaml
